@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link {
    @apply hover:underline cursor-pointer;
  }

  .btn {
    @apply bg-[#f8f9fa] rounded-md p-3 ring-gray-200 text-sm text-gray-800 hover:ring-1 hover:shadow-md focus:outline-none active:ring-gray-300;
  }
}

input[type='search']::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type='search']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
